/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------- */

:root {
	--pickMaxWidth: 230px;
	--pickMaxHeight: 130px;
	--championMaxWidth: 100px;
	--championMaxHeight: var(--championMaxWidth);
	--banMaxWidth: 100px;
	--banMaxHeight: var(--banMaxWidth);
	--roleIconMaxWidth: 70px;
	--roleIconMaxHeight: var(--roleIconMaxWidth);
	--teamIconMaxWidth: 70px;
	--teamIconMaxHeight: var(--teamIconMaxWidth);
	--searchBarMaxWidth: 130px;
	--searchBarMaxHeight: 70px;
	--searchBarFontSize: 2rem;
	--dataButtonMaxWidth: 100px;
	--dataButtonMaxHeight: 20px;
	--dataButtonFontSize: 20px;
}

/*#797150
#5f95a1
#8d7192
#9d7f9a
#6c3e3e
 *
 *
 *
 * */
body {
	height: 100vh;
	width: 100vw;
	background-color: #696f77;
	overflow-y: hidden;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 10px;
	min-height: 0;
	min-width: 0;
}

.draft-area {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	min-height: 0;
	min-width: 0;
}

.draft-team {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.draft-team > .stage-separator-vertical {
	height: 50px;
	background-color: gray;
}

.wrapper {
	width: 73vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.champions-container {
	max-height: 77.8vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	justify-content: center;
	gap: 3px;
	overflow-y: auto;
	min-height: 0;
	min-width: 0;
}

.champion-container {
	display: flex;
	flex-direction: column;
	width: var(--championMaxWidth);
	height: var(--championMaxHeight);
}

.champion-icon {
	max-width: var(--championMaxWidth);
	max-height: var(--championMaxHeight);
	width: var(--championMaxWidth);
	height: var(--championMaxHeight);
	box-sizing: border-box;

	border: 2px solid;
	border-color: black;
}

.champion-pick {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: clip;
}

.champion-pick > img {
	transform: scale(1.8) translateY(22px);
}
.champion-pick > img[src*="pick_icon.png"] {
	transform: scale(1);
}

.role-selection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.role-selection > img {
	max-width: var(--roleIconMaxWidth);
	max-height: var(--roleIconMaxHeight);
}

.utils {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.search-bar {
	width: var(--searchBarMaxWidth);
	height: var(--searchBarMaxHeight);
	font-size: var(--searchBarFontSize);
	box-sizing: border-box;
}

.team-selection {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.team-selection > img {
	max-width: var(--teamIconMaxWidth);
	max-height: var(--teamIconMaxHeight);
}

.not-bans {
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	min-height: 0;
	min-width: 0;
}

.bans {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	min-height: 0;
	min-width: 0;
}

.draft-team-bans {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	min-height: 0;
	min-width: 0;
}

.draft-team-bans#red-team {
	flex-direction: row-reverse;
}

.ban-separator {
	width: 15px;
}

.pick-separator {
	height: 15px;
}

.draft-team-bans > .champion-ban > img {
	width: var(--banMaxWidth);
	height: var(--banMaxHeight);
	max-width: var(--banMaxWidth);
	max-height: var(--banMaxHeight);
	object-fit: cover;
}

/*1280 × 720 pixels
* meaning a 1.77 : 1 ratio
* */
.draft-team > .champion-pick > img {
	width: var(--pickMaxWidth);
	height: var(--pickMaxHeight);
	max-width: var(--pickMaxWidth);
	max-height: var(--pickMaxHeight);
}

.not-bans > .wrapper {
	overflow-y: auto;
}

.source-button {
	min-width: var(--dataButtonMaxWidth);
	min-height: var(--dataButtonMaxHeight);
	font-size: var(--dataButtonFontSize);
}

#user_data_form_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#user_data_form_container > textarea {
	font-size: 15px;
}
#user_data_form_container > label {
	border: 3px solid black;
	font-size: 30px;
}
#user_data_form_container > label > a {
	color: #5eeb73;
}

.hidden {
	display: none !important;
}

[data-team="both"] {
	border-color: orange;
}

[data-team="ally"] {
	border-color: green;
}

[data-team="enemy"] {
	border-color: red;
}
